$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$red: #d03131;
$blue: #23aeb7;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 1em 0;
}

label {
  display: block;
  cursor: pointer;
}

label,
fieldset > p {
  margin: 0 0 0.5em;
}

input, textarea, select, button {
  transition: border-color .3s ease;
  font-family: $font-family;
  border-radius: 0;
  border: 1px solid #ddd;
  font-size: 1rem;

  &:focus {
    outline: none;
    border-color: $blue;
  }

  &:invalid {
    border-color: $red;
  }
}

input, textarea, select {
  width: 100%;
  padding: 0.5em 0.7em;
}

button {
  transition: background-color .3s ease;
  cursor: pointer;
  padding: 0.6em 1.2em;
  background-color: #f9f9f9;

  &:hover, &:focus {
    background-color: #e5e5e5;
  }
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin: 0.5em 0;

  & + label {
    margin: 0;
  }
}

fieldset [role="alert"] {
  display: block;
  color: $red;
  font-size: 0.9em;
  margin-top: 0.3em;
}